<div class="card-container">
  <mat-card class="card" *ngIf="contact">
    <mat-card-title>Editar Contacto</mat-card-title>
    <mat-card-content class="card-content">
      <!-- #form para que funcionen las validaciones -->
      <form (submit)="updateContact()" #form="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <!-- [(ngmodel)] -> cada uno de los campos del formulario-->
          <input
            matInput
            type="text"
            name="name"
            [(ngModel)]="contact.name"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Primer apellido</mat-label>
          <input
            matInput
            type="text"
            name="first_surname"
            [(ngModel)]="contact.first_surname"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Segundo apellido</mat-label>
          <input
            matInput
            type="text"
            name="second_surname"
            [(ngModel)]="contact.second_surname"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            type="tel"
            name="phone_number"
            [(ngModel)]="contact.phone_number"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            [(ngModel)]="contact.email"
            required
            pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          />
        </mat-form-field>

        <div class="buttons">
          <button
            mat-raised-button
            type="submit"
            class="save-btn"
            title="Botón para guardar los datos"
          >
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="cancelUpdate()"
            title="Botón para cancelar"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
