<div class="card-container">
  <mat-card
    *ngIf="product"
    [ngClass]="product.active ? 'card' : 'card inactive'"
  >
    <mat-card-title
      >Detalle del producto
      <button
        mat-mini-fab
        type="button"
        (click)="updateProduct()"
        title="Botón para editar producto"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-content class="card-content">
      <p>
        <mat-icon> shopping_cart</mat-icon>
        <strong>Producto:</strong> {{ product.name }}
      </p>
      <p>
        <mat-icon>list_alt</mat-icon>
        <strong>Stock:</strong> {{ product.stock }} uds.
      </p>
      <p>
        <!-- <mat-icon>euro_symbol</mat-icon> -->
        <mat-icon>credit_card</mat-icon>
        <strong>Precio:</strong> {{ product.price }} €
      </p>
      <p>
        <mat-icon>thumbs_up_down</mat-icon>
        <strong>Disponibilidad:</strong>
        {{ product.active ? "Disponible" : "No disponible" }}
      </p>

      <p>
        <mat-icon>calendar_today</mat-icon>
        <strong>Fecha de adición:</strong>
        {{ product.date_added | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <mat-icon>calendar_today</mat-icon>
        <strong>Categoría:</strong>
        {{ product.fk_category.name }}
      </p>
    </mat-card-content>
    <div class="buttons-container">
      <div>
        <button
          mat-mini-fab
          title="Botón ver producto anterior"
          (click)="goToPrevious()"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button
          mat-mini-fab
          title="Botón ver producto siguiente"
          (click)="goToNext()"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <button
        mat-mini-fab
        title="Botón de volver atrás"
        (click)="navigateToHome()"
      >
        <mat-icon>replay</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
