.card-container {
  display: flex;
  justify-content: center;
}
.card {
  margin: 70px 0;
  padding: 20px 40px 20px 40px;
  box-shadow: 10px 5px 5px rgb(113, 113, 113);
  border: 1px solid rgb(113, 113, 113);
}

mat-card-title {
  margin-bottom: 20px;
  text-decoration: underline;
  color: #4bb3c2;
}
.card-content p {
  display: flex;
  align-items: center;
}
.card-content p mat-icon,
.card-content p strong {
  margin-right: 5px;
}

.card-content p mat-icon {
  color: #4bb3c2;
}

.mat-mini-fab {
  background-color: #4bb3c2;
  box-shadow: 3px 2px 5px rgb(113, 113, 113);
  position: relative;
  left: 85%;
}
button:hover {
  transform: scale(115%);
}

button a {
  text-decoration: none;
  color: white;
}
