table {
  margin: 20px 0px 0px 40px;
  width: calc(100% - 80px);
}

.tr-header {
  background-color: #9cd7e0;
}

th {
  font-size: 15px;
  color: white;
}

.tr-row {
  cursor: pointer;
}
.tr-row:active {
  background-color: #9cd7e0;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  background-color: #9cd7e0;
  color: white;
  width: 45px;
  text-align: center;
  padding: 0;
}
.second-cell {
  padding-left: 10px;
}
