table {
  margin: 20px 0px 80px 40px;
  width: calc(100% - 80px);
  font-family: var(--second-font);
  letter-spacing: 1.5px;
}

.tr-header {
  background-color: var(--second-color);
}

th {
  font-size: 15px;
  color: white;
}
.cell-container {
  display: flex;
  align-items: center;
}

.cell-container mat-icon {
  cursor: pointer;
}
.tr-row {
  cursor: pointer;
}

.tr-row:hover {
  background-color: var(--second-color);
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  background-color: var(--second-color);
  color: white;
  width: 45px;
  text-align: center;
  padding: 0;
}
.second-cell {
  padding-left: 10px;
}
.inactive {
  background-color: rgb(228, 227, 227);
}

#new-product {
  margin: 20px 0 0 40px;
  background-color: var(--main-color);
  color: white;
  box-shadow: 3px 2px 5px rgb(113, 113, 113);
  font-family: var(--main-font);
}

#new-product:hover {
  transform: scale(110%);
}
