table {
  margin: 20px 0px 0px 40px;
  width: calc(100% - 80px);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.tr-header {
  background-color: #9cd7e0;
}

th {
  font-size: 15px;
  color: white;
}

.tr-row:active {
  background-color: #9cd7e0;
}

.inactive {
  background-color: rgb(202, 201, 201);
}
