.card-container {
  display: flex;
  justify-content: center;
}
.card {
  margin: 70px 0;
  padding: 20px 40px 20px 40px;
  box-shadow: 10px 5px 5px rgb(113, 113, 113);
  border: 1px solid rgb(113, 113, 113);
  font-family: var(--second-font);
  letter-spacing: 1px;
}

mat-card-title {
  margin-bottom: 20px;
  text-decoration: underline;
  color: var(--main-color);
}

mat-card-title button {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid var(--main-color);
}

mat-card-title button mat-icon {
  color: var(--main-color);
  font-size: 25px;
}

mat-card-title button mat-icon:hover {
  transform: scale(125%);
}
.card-content p {
  display: flex;
  align-items: center;
}
.card-content p mat-icon,
.card-content p strong {
  margin-right: 5px;
}

.card-content p mat-icon {
  color: var(--main-color);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

div .mat-mini-fab {
  margin-right: 10px;
}
.mat-mini-fab {
  background-color: var(--main-color);
  box-shadow: 3px 2px 5px rgb(113, 113, 113);
}
button:hover {
  transform: scale(115%);
}

button a {
  text-decoration: none;
  color: white;
}
