<!-- usamos el módulo Card e Icon de la librería Material 
--*nfIf-> es un conficional If propio de angular, que si contact es false, es decir si no tiene datos no los carga, y cuando es true, que ya tiene los datos, los muestra, esto evita algunos errores en consola-->
<div class="card-container">
  <mat-card class="card" *ngIf="contact">
    <mat-card-title
      >Detalle del contacto
      <button
        mat-mini-fab
        type="button"
        (click)="updateContact()"
        title="Botón para editar contacto"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-content class="card-content">
      <p>
        <mat-icon>contacts</mat-icon>
        <strong>Nombre:</strong> {{ contact.name }}
      </p>
      <p>
        <mat-icon>contacts</mat-icon>
        <strong>Primer apellido:</strong> {{ contact.first_surname }}
      </p>
      <p>
        <mat-icon>contacts</mat-icon>
        <strong>Segundo apellido:</strong> {{ contact.second_surname }}
      </p>
      <p>
        <mat-icon>contact_phone</mat-icon>
        <strong>Número de teléfono:</strong> {{ contact.phone_number }}
      </p>
      <p>
        <mat-icon>contact_mail</mat-icon>
        <strong>Email:</strong> {{ contact.email }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="buttons-container">
        <div>
          <button
            mat-mini-fab
            title="Botón ver contacto anterior"
            (click)="goToPrevious()"
          >
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button
            mat-mini-fab
            title="Botón ver contacto siguiente"
            (click)="goToNext()"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
        <button
          mat-mini-fab
          title="Botón de volver atrás"
          (click)="navigateToHome()"
        >
          <mat-icon>replay</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
