<!-- El código de este archivo se muestra en todos los componentes -->
<main>
  <mat-toolbar>
    <a mat-button routerLink="/"><mat-icon>home</mat-icon>Home</a>
    <a mat-button routerLink="/contacts"
      ><mat-icon>supervised_user_circle</mat-icon>Contactos</a
    >
    <a mat-button routerLink="/products"
      ><mat-icon>shopping_cart</mat-icon>Productos</a
    >
  </mat-toolbar>
  <!-- etiqueta necesaria para que funcionen los links a los otros componentes definidos en app-routing -->
  <router-outlet></router-outlet>
</main>

<footer>
  <p>Made it with <mat-icon>favorite</mat-icon> by Bea</p>
  <nav>
    <a href="https://github.com/beafig" target="blank"
      ><i class="fa-brands fa-github-alt"></i
    ></a>
    <a href="https://www.linkedin.com/in/bea-figueroa/" target="blank"
      ><i class="fa-brands fa-linkedin-in"></i
    ></a>
  </nav>
</footer>
