* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 900;
}

mat-toolbar {
  background-color: #4bb3c2;
  color: white;
}

mat-toolbar a:hover {
  transform: scale(115%);
}
