<div class="card-container">
  <mat-card class="card">
    <mat-card-title>Nuevo Contacto</mat-card-title>
    <mat-card-content class="card-content">
      <form (submit)="newContact()">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <!-- [(ngmodel)] -> cada uno de los campos del formulario-->
          <input matInput type="text" name="name" [(ngModel)]="name" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Primer apellido</mat-label>
          <input
            matInput
            type="text"
            name="first_surname"
            [(ngModel)]="first_surname"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Segundo apellido</mat-label>
          <input
            matInput
            type="text"
            name="second_surname"
            [(ngModel)]="second_surname"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            type="tel"
            name="phone_number"
            [(ngModel)]="phone_number"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            [(ngModel)]="email"
            required
          />
        </mat-form-field>

        <div class="buttons">
          <button
            mat-raised-button
            type="submit"
            class="save-btn"
            title="Botón para guardar los datos"
          >
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="cancelInsert()"
            title="Botón para cancelar"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
