.card-container {
  display: flex;
  justify-content: center;
}

.card {
  margin: 70px 0;
  padding: 20px 40px 20px 40px;
  min-width: 50%;
  box-shadow: 10px 5px 5px rgb(113, 113, 113);
  border: 1px solid rgb(113, 113, 113);
  font-family: var(--main-font);
}
mat-card-title {
  text-align: center;
  text-decoration: underline;
  color: var(--main-color);
  font-family: var(--second-font);
  letter-spacing: 1px;
}
form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1%;
}

.save-btn {
  background-color: var(--main-color);
}
.mat-raised-button {
  box-shadow: 3px 2px 5px rgb(113, 113, 113);
}
.mat-raised-button:hover {
  transform: scale(115%);
}
mat-icon {
  color: white;
}
